:root {
  --paper-color: #FAEED7;
  --paper-color-2: #EFDDBB;
  --bookmark: brown;
  --contrast-text: white;
}



/* ***** */
/* MARK: general styling
/* ***** */

body {
    margin: 0;
    background: linear-gradient(#D6D3B7 20%, #72854C 50%, #103121);
}

main {
  display: grid;
  justify-items: center;
  gap: 4rem;
}

/* header */
header {
    display: grid;
    justify-content: center;
    background-color: #242424;
    color: white;
    height: 6rem;
    align-items: center;
}

/* ****** */
/* MARK: Character Builder
/* ***** */

.selectable-content {
  width: clamp(10rem, 50vw, 70rem);
}

/* character builder */
.build-character .name-inputs {
  display: grid;
}

/* ****** */
/* MARK: Tabs
/* ***** */

.manual {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
}

.bookmark-container {
  width: clamp(2rem, 100%, 5rem);
}

[role="tab"] {
  background-color: var(--bookmark);
  color: var(--contrast-text);
  border: none;
  padding: 0;
  position: relative;
  width: clamp(2rem, 100%, 6rem);
  height: 2.5rem;
  box-sizing:content-box;


  &::before {
    content: '';
    position: absolute;
  }
}

[role="tab"][aria-selected="true"] {
  padding-bottom: 1rem;
  background-color: darkred;

  
}

.bookmark-container:has([role="tab"][aria-selected="true"]) {
  .triangle {
    background-color: darkred;
  }

  .triangle2 {
    background-color: darkred;
  }
}

form[role="tabpanel"] {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0 1rem 1rem;
  background: radial-gradient(var(--paper-color) 50%, var(--paper-color-2));
  min-height: 10em;
  width: 100%;
}

[role="tabpanel"].is-hidden {
  display: none;
}

.triangle-container {
  display: flex;
  width: 100%;
}

.triangle {
  width: 50%;
  aspect-ratio: 1;
  clip-path: polygon(0 100%,0 0,100% 100%);
  background: var(--bookmark);
}

.triangle2 {
  width: 50%;
  aspect-ratio: 1;
  clip-path: polygon(0 100%,100% 0,100% 100%);
  background: var(--bookmark);
}


/* ****** */
/* MARK: Character Sheet
/* ***** */

/* character sheet */
.character-sheet-container {
    
    #character-sheet {
      background: var(--paper-color-2);
      width: 70vw;
      height: auto;
      aspect-ratio: 1000 / 1414;
      padding: 2rem;

      h2 {
        margin: 0;
      }
    }

}

.general-info {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;

  

  dl {
    display: grid;
    height: max-content;
    background-color: #FAEED7;
    padding: 0.5rem;
  }

  dl:first-of-type {
    width: 50%;
  }

  dl:nth-of-type(2) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
  }

  dd {
    background: white;
    padding: 0.5rem;
    margin: 0;
    border-top: 0.1rem solid grey;
  }

  #character-name-sheet {
    border-top: 0.1rem solid grey;
  }
}


/* ************* */
/* MARK: custom select
/* ************* */

:root {
  --selected-race: '🤷';
}

.select-container {
  display: grid;
  place-items: center;

  select {
    
    display: grid;
    justify-items: center;
    border: none;
    gap: 0;
    width: max-content;

    &::before {
      content: '👑';
      font-size: 2rem;
    }

    selectedcontent {
      display: grid;
      align-items: center;
      justify-items: center;

      &::before {
        content: var(--selected-race);
        height: max-content;
        font-size: 5rem;
      }
    }

    

    &::picker-icon {
      display: none;
    }
  }

  ::picker(select) {
    position-area: center center;
    inset: 0;
  }
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  display: none;
}

option {
  
  &::before {
    width: max-content;

    height: max-content;
    font-size: 4rem;
  }

  &[value="Dragonborn"] {
    &::before {
      content: '🐲'
    }
  }

  &[value="Dwarf"] {
    &::before {
      content: '🧙🏻‍♂️';
    }
  }

  &[value="Elf"] {
    &::before {
      content: '🧚‍♂️'
    }
  }

  &[value="Gnome"] {
    &::before {
      content: '🧝🏼'
    }
  }

  &[value="Half-Elf"] {
    &::before {
      content: '🧚‍♂️🤏'
    }
  }

  &[value="Half-Orc"] {
    &::before {
      content: '🧌🤏'
    }
  }

  &[value="Halfling"] {
    &::before {
      content: '🧍‍♂️🤏'
    }
  }

  &[value="Human"] {
    &::before {
      content: '🧍‍♂️'
    }
  }

  &[value="Tiefling"] {
    &::before {
      content: '😈'
    }
  }
}

body:has(option[value="Dragonborn"]:is(:checked)){
    --selected-race: '🐲';
}

body:has(option[value="Dwarf"]:is(:checked)){
    --selected-race: '🧙🏻‍♂️';
}

body:has(option[value="Elf"]:is(:checked)){
    --selected-race: '🧚‍♂️';
}

body:has(option[value="Gnome"]:is(:checked)){
    --selected-race: '🧝🏼';
}

body:has(option[value="Half-Elf"]:is(:checked)){
    --selected-race: '🧚‍♂️🤏';
}

body:has(option[value="Half-Orc"]:is(:checked)){
    --selected-race: '🧌🤏';
}

body:has(option[value="Halfling"]:is(:checked)){
    --selected-race: '🧍‍♂️🤏';
}

body:has(option[value="Human"]:is(:checked)){
    --selected-race: '🧍‍♂️';
}


body:has(option[value="Tiefling"]:is(:checked)){
    --selected-race: '😈';
}


option {
  position: relative;
}


option::checkmark {
  content: '👑';
  font-size: 2rem;
  position: absolute;
  top: -2rem;
}

option:not(:checked)::checkmark {
  display: none;
}

/* dropdown container */
::picker(select) {
  background: transparent;
  border: 0;
  overflow: visible;

  /* Position above the button, centered */
  position-area: center center;
  position-try: none;
  inset: 0;

  /* Keep picker visible during exit animation */
  transition: display 0.25s allow-discrete;
}



select:open::picker(select) {
  display: grid;
  place-items: center;
}



option {

    --radius: 13rem;
    
    
    grid-area: 1/1;
    place-items: center;
    display: grid;
    column-gap: 0px;
  
    
    /*sibling count (hoeveel zijn er totaal)*/
    translate:
        calc(   sin(360deg/(sibling-count() - 1) * sibling-index() ) * var(--radius))
        calc(   cos(360deg/(sibling-count() - 1) * sibling-index()  ) * var(--radius));
}






/* ********* */
/* MARK: Traits Pagina
/* ********* */

#traitPage, #langPage {
  min-height: 100vh;




}



